* {
    padding: 0;
    margin: 0;
}

.fonts {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

.home_page {
    width: 100%;
    height: fit-content;
    padding: 3rem 0rem 3rem 0rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 3rem 0 3rem 0;
    display: flex;
    justify-content: center;
}

img {
    user-select: none;
    border-radius: 0.5rem;
}

.story {
    width: 25rem;
    height: fit-content;
}

.stories {
    width: 50rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5rem;
}

.second_story {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0 3rem 0;
    background-color: #2C2C2C;
    color: white;
}