* {
    margin: 0;
    padding: 0;
}

.fonts {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}

.logo_font{
    font-size: 32px;
    font-weight: 600;
    font-style: bold;
    justify-content: left;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    color: white;
}

.header_class {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1.5rem 0 1.5rem 0;
    background-color: #2C2C2C;
    align-items: center;
}

.nav_spans {
    padding: 0.5rem 2rem;
    width: 22rem;
    display: flex;
    justify-content: space-between;
    border-radius: 3rem;
    color: white;
    user-select: none;
    font-weight: 500;
}

.nav_spans_text:hover {
    cursor: pointer;
}

.nav_spans_text:hover {
    color: grey;
    transition: 0.3s ease-in-out;
}