* {
    padding: 0;
    margin: 0;
}

.footer_class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C2C2C;
    padding: 1rem;
}

.fonts {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 20px;
}

.separator {
    width: 11rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.arrow_styles {
    width: 40px;
    height: 40px;
    border: 0px;
}

.arrow_styles:hover {
    cursor: pointer;
}

.text_spans {
    display: flex;
    flex-direction: column;
}